*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container-one{
width:1040px;
height:88px;
color:#ffffff;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
margin-left:50px;
margin-top:20px;
color:blue;
display: flex;
justify-content: space-evenly;

}
ul{
  position: absolute;
  top:6%;
  left:50%;
  transform: translate(-50%,-50%);
  
  
  background: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  border-radius:  10px;
  background-color: #ffffff;
  /* box-shadow: 0 10px 30px rgba(0,0,0,0.3); */
}

ul li {
  
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);
    
  padding:10px;
  font-size: 10px;
  color:#000000;
  
}
ul li:hover{
  transform: translateX(-5%);
  text-decoration: underline;
  color:#2222e7;
}
 .alghanium{

  position: absolute;
  left:175px;
  top:50px;
  font-weight: 700;
  font-size: 14px;
} 
.img1{
  width: 76px;
  height:36.16px;
  position: absolute;
  left:100px;
  top:40px;
  
}

.img2{

  position: absolute;
width: 52px;
height: 26px;
left: 967px;
top: 42px;
}
.img3{
width:18px;
height:17.35px;
position: absolute;
 left:1040px;
top: 4%;
bottom: 0%;

background: #000000;

}
.login{
  position: absolute;
  left:1030px;
  top:60px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 8px;
width:50px;
color:#000000;

}
/* p:hover{
  color:#2222e7;
  text-decoration:underline;
  transform: translateX(-3%);
}
   */
 .container-two{
border: 10px;
border-radius: 10px 5px 10px 10px;
position: absolute;
top:130px;
left:200px;
background-color: #ffffff;
display: flex;
justify-content: space-evenly;
height:70px;
width:850px;
padding: auto;


 }
 .img4{

  width: 1160px;
  height:400px;
  
 }
 .img5{
   height:30.88px;
   width:30.95px;

 }
 .img6{
  height:30.88px;
  width:30.95px;
 

}
.img7{
  height:30.88px;
  width:30.95px;
 

}
.img8{
  height:30px;
  width:30px;


}
.img9{
  height:30.88px;
  width:30px;

}
.img10{
  height:30px;
  width:30.95px;
  position: absolute;
  top:16px;
  right:440px;
}
.img11{
  height:30.88px;
  width:30.95px;

}
.img12{
  height:30.88px;
  width:30.95px;

}
.img13{
  height:30.88px;
  width:30.95px;

}
.img14{
  height:30.88px;
  width:30.95px;

}
.img15{
  height:30.88px;
  width:30.95px;

}
.container-three{

  background: #ffffff;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
position: absolute;
width: 1000px;
height: 217px;
left: -80px;
top: 70px;

}
button{
  margin:15px;
  padding:8px;
border:none;
border-radius: 5px;
font-weight: bold;
cursor: pointer;

}
.btn{
  background-color: darkblue;
  color: white;
  cursor: pointer;
}
.dest{
  display: flex;
  justify-content: space-evenly;
}
.arrow{


    position: absolute;
    left:160px;
    top:85px;
    font-size: 30px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 44px;
    color: white;
  
  
}
.inpt{
  font-size: 12px;
  color: #494949;
  margin:5px;
}
.inp1{
  margin:8px;
}
.four{
font-size: 8px;
}

.dropbtn{
  position: absolute;
  left:80%;
  top:-175%;
font-size: 11px;
text-decoration: underline;
background-color: #ffffff;
color: gray;
width: 100px;
}
 .dropdown {
  position: absolute;
 min-width: 120px;
  
}
.dropdown-content { 
  display: none;
  position: absolute;
  background-color:#ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
  left:140px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: whitesmoke;
}
.check{

  display: flex;
  justify-content: space-around;
  font-size: 12px;
  margin: 5px;
}
.searchbtn{
  position: absolute;
  left:820px;
  top:-70%;
  color:white;
  font-size: 18px;
  width:130px;
  background: #2C2F98;
border-radius: 10px;
}
.container-five{
  background: #D2D3FF;
  width:1140px;
  height:300px;
  margin:10px;
}
h2{
  color: #2C2F98;

  font-family: Lato;
  text-align: center;
}
.one{
  width:420px;
  height:88px;
  background: #FFFFFF;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin:10px;padding:10px;


}
.side{
  position: absolute;
  top:108%;
  left:20%;
}


.arrow1{
  position: absolute;
  top:112%;
  left:14%;
  font-size: 12px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 100px;
  color: white;
}
.side:hover{
  transform: translateY(-2%);
}

.side1{
  position: absolute;
  left:30%;
  top:112%;
}
.side1:hover{
  transform: translateY(-4%);
}
.red{
  color:red;
  font-weight: bold;
}


.ku:hover{
    transform: translateY(-4%);
  
}
.side2{
  position: absolute;
  left:16%;
  top:146%;
}
.side3{
  position: absolute;
  left:290px;
  top:20%;
}
.container-six{
  width:1200px;
  height:200px;
  background-color: #ffffff;
}
h3{
  color: #2C2F98;
  font-family: Lato;
  text-align: center;
}
.container-seven{
   width:1200px;
  height:730px;
  background: #D2D3FF;
border: 3px solid #F1A61D;
box-sizing: border-box;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
}
.btn2{
  position: absolute;
width: 332px;
height: 50px;
left:28%;
top:347%;

background: #FFFFFF;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.container-eight{
  width:1150px;
  height:350px;
  background: linear-gradient(105.13deg, #EC9D31 -23.6%, #5D62FF 102.87%);
border: 4px solid #6EE0FF;
}
.lastbtn1{
  position: absolute;
  top:374%;
  left:50%;
  background-color: rgb(230, 219, 219);
  border :0px solid white; 
  border-radius:2px;
  width:75px;
  height: 30px;
}
.lastbtn2{
  position: absolute;
  left:30%;
  top:377%;
  background-color: rgb(230, 219, 219);
  border :0px solid white; 
  border-radius:5px;
  width:250px;
  height: 30px;
  padding-left: 10px;
  
  
}
.lastbtn1:hover{
background-color: blue;
}
h4{
  color:#2C2F98;
  text-align: center;
}
.grad{

width: 583px;
height: 103px;
margin-left:160px;
margin-top: 30px;
padding:10px;
background: #FFFFFF;
box-shadow: 0px 0.8px 4px 0.8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.small{
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;

color: #FFFFFF;
margin:10px;
padding:5px;

}
.inspire{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;
position: absolute;
top:176%;

}